#graph {
	background-color: rgba(0,0,0, 0.1);
	display: block;
	height: 85vh;
	text-align: left !important;
	padding: 0px;
	padding-bottom: 15px;
}

.vertex-neighbours {
	padding-left: 0px;
	padding-right: 0px;
}

.vertex-neighbours-group, .form-horizontal-button {
	margin-left: 0px !important;
	margin-right: 0px !important;
}

#add-vertex-form, #add-edge-form {
	display: none;
}

.collapse-left {
	margin-right: 5px;
}

.toast-top-center {  
    top: 65px; 
}